<h1>Snacks List</h1>
<% @snacks.each do |snack| %>
  
  <% if snack["optional"] == false %>
    <p>Always Purchased: <%= snack["name"] %></p>
  <% else %>
    <p>Suggested: <%= snack["name"] %></p>
  <% end %>

<% end %>
<a href="#" class="button" id="new-suggestion-button" onclick="newSuggestionToggle(event)">New Suggestion</a>
<div id="new-suggestion-info">
  <h1>New Suggestion</h1>
  <%= form_for @suggestion, url: { action: "create" } do |f| %>
    <div>
      <%= f.select :name, @snacks.collect { |snack| snack["name"] }, {}, { id: "snack-select", onchange: "otherSelected()" } %>
    </div>
    <br>
    <div id="other-snack-info">
      <h1>Test</h1>
    </div>
    <div>
      <%= f.submit 'Submit' %>
    </div>
  <% end %>
</div>

<!--   <div>
    <%#= f.label 'Snack Suggestion' %>
    <%#= f.text_field :name %>
  </div> -->

<%#= link_to "New Suggestion", "/api/v1/suggestions/new" %>
