<h1>New</h1>
<%= form_for @suggestion, url: { action: "create" } do |f| %>
  <div>
    <%= f.select :name, @snacks.collect { |snack| snack["name"] } %>
  </div>
  <div>
    <%= f.label 'Snack Suggestion' %>
    <%= f.text_field :name %>
  </div>
  
  <div>
    <%= f.submit 'Submit' %>
  </div>
<% end %>